<!DOCTYPE html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>bookIT - Book an affordable place to spend some time</title>
  </head>
  <body style="overflow-x: hidden;">
   <nav class="navbar navbar-default top-navigation-bar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <h3>bookIT</h3>
          <!-- <img src="img/logo.png" alt='Logo'> -->
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right top-nav-links">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#" style="border: 1px solid; border-radius: 5px;">List a hotel</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    
  </nav>
  <div class="hero-section">
    <div class="hero-cover">
      <div class='container'>
        <div class='row hero-content'>    
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h1 class="banner-text">Find an affordable place to spend some time</h1>
                <h3 class="banner-text">Hotels, Guest Houses, Movie Houses, Hostels...</h3>
                <h4 class="banner-text">AFFORDABLE.CONVENIENT.CLASSY</h4>
                <br>
                <p>
                  <a href="" class="btn btn-danger btn-lg">List your hotel</a>
                </p>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container featured-properties">
    <div class="row">
      <h3 style="color: #337ab7">RECENT LISTINGS</h3>
      <br>
      <!-- Loop this to display featured properties -->
      <div class="col-md-4">
        <a href="">
          <div class="featured-item">
            <img src="img/airport1.jpe" alt="image of property" class="img-responsive">
            <hr>
            <h4>Hotel Name</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Explicabo quos ullam reprehenderit ab 
            </p>
            <p>Rating: 4 Stars</p>
            <p>GHS40 / hour</p>
          </div>
        </a>
      </div>
      <!-- loop ends here -->

      <div class="col-md-4">
        <a href="">
          <div class="featured-item">
            <img src="img/airport1.jpe" alt="image of property" class="img-responsive">
            <hr>
            <h4>Hotel Name</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Explicabo quos ullam reprehenderit ab 
            </p>
            <p>Rating: 4 Stars</p>
            <p>GHS40 / hour</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="">
          <div class="featured-item">
            <img src="img/airport1.jpe" alt="image of property" class="img-responsive">
            <hr>
            <h4>Hotel Name</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Explicabo quos ullam reprehenderit ab 
            </p>
            <p>Rating: 4 Stars</p>
            <p>GHS40 / hour</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
    
  <script src="bootstrap/js/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body> 

</html> 
